<h1> Create a Signup </h1>
<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>
<%= form_for @signup do |f| %>
<%= f.label :camper_id %>
<%= f.collection_select :camper_id, Camper.all, :id, :name%><br/>
<%= f.label :activity_id %>
<%= f.collection_select :activity_id, Activity.all, :id, :name%><br/>
<%= f.label :time %>
<%= f.number_field :time %><br/> 
<%= f.submit %>
<% end %>